<h1 class="pb-4 mt-4 text-4xl font-semibold">About Us</h1>

<div class="row md:flex flex-row-reverse items-center py-4 mb-4" style="height: auto;">
    
    <div class="md:w-100-60 md:ml-4" style="height: 22em;">
      <img src="/img/contact-image.jpg" width="607" class="h-full" alt="Cooking With BankiDes" style="border-top-right-radius: 50%; border-bottom-left-radius: 50%;">
    </div>

    <div class="md:w-100-40 p-4 mt-4">
      <p class="p-2" style="line-height: 2rem; border: 4px double #ddd;">
        Welcome to <b>My Recipe</b>, your go-to recipe website for a diverse range of delicious dishes from all over the world! <br>
        At My Recipe, we are passionate about bringing the flavors of the world to your kitchen. Our team of experienced 
        chefs and food lovers scours the globe to find the most mouth-watering recipes, from classic Italian pasta dishes 
        to spicy Indian curries and everything in between. <br>
        We believe that food has the power to bring people together and create unforgettable memories. 
        That's why we want to share our love of cooking and international cuisine with you, whether you're an experienced 
        home cook or just starting out in the kitchen. <br>
        Our website features a wide variety of recipes to suit every taste and dietary preference, including vegetarian, 
        vegan, gluten-free, and more. Each recipe is accompanied by clear, step-by-step instructions and beautiful photos 
        to help you create a dish that looks and tastes amazing. <br>
        We also provide helpful cooking tips and tricks, as well as information on ingredients and cooking techniques from 
        around the world. Whether you're looking to impress your dinner guests with a show-stopping main course, or just want 
        to try something new and delicious for lunch, My Recipe has you covered. <br>
        So come on in and explore our collection of international recipes, from comforting soups and stews to exotic desserts 
        and everything in between. We can't wait to see what you cook up!
      </p>
      
    </div>
  
    
  </div>